@font-face {
  font-family: 'Spacecats';
  font-style: normal;
  font-weight: 400;
  src: local('Spacecats'), local('Spacecats'), url(https://github.com/Tzokjad/CSS-testing/blob/master/SpaceCats.ttf) format('ttf');
}
